* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.chess-board {
    padding: 1rem;
    height: calc(100vh - 8rem);
    aspect-ratio: 1;
    position: relative;
    border: 5px solid red;
    overflow: hidden;
}

.cell-holder {
    height: calc(100vh - 10.5rem);
    aspect-ratio: 1;
    position: absolute;
    background-color: hsl(0, 0%, 20%);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0.5px;
    z-index: 1;
    border: 1px solid black;
}

.cell {
    width: calc((100vh - 11rem) / 8);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    /* box-shadow: 0 0 0px 10px black; */
}

.piece-holder {
    height: calc(100vh - 10.5rem);
    aspect-ratio: 1;
    position: absolute;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    z-index: 2;
    /* border: 5px solid transparent; */
}

img {
    width: calc((100vh - 16rem) / 8);
    aspect-ratio: 1;
    transform: scale(1);
    transition: all 100ms ease-in;
}

img:hover {
    transform: scale(1.1);
}

/* Black Cells */

.cell.r-h.f-1,
.cell.r-h.f-3,
.cell.r-h.f-5,
.cell.r-h.f-7,
.cell.r-g.f-2,
.cell.r-g.f-4,
.cell.r-g.f-6,
.cell.r-g.f-8,
.cell.r-f.f-1,
.cell.r-f.f-3,
.cell.r-f.f-5,
.cell.r-f.f-7,
.cell.r-e.f-2,
.cell.r-e.f-4,
.cell.r-e.f-6,
.cell.r-e.f-8,
.cell.r-d.f-1,
.cell.r-d.f-3,
.cell.r-d.f-5,
.cell.r-d.f-7,
.cell.r-c.f-2,
.cell.r-c.f-4,
.cell.r-c.f-6,
.cell.r-c.f-8,
.cell.r-b.f-1,
.cell.r-b.f-3,
.cell.r-b.f-5,
.cell.r-b.f-7,
.cell.r-a.f-2,
.cell.r-a.f-4,
.cell.r-a.f-6,
.cell.r-a.f-8 {
    background-color: hsl(0, 0%, 35%);
    box-shadow: inset 0px 0px 5px 0px;
}

/* White Cells */

.cell.r-h.f-2,
.cell.r-h.f-4,
.cell.r-h.f-6,
.cell.r-h.f-8,
.cell.r-g.f-1,
.cell.r-g.f-3,
.cell.r-g.f-5,
.cell.r-g.f-7,
.cell.r-f.f-2,
.cell.r-f.f-4,
.cell.r-f.f-6,
.cell.r-f.f-8,
.cell.r-e.f-1,
.cell.r-e.f-3,
.cell.r-e.f-5,
.cell.r-e.f-7,
.cell.r-d.f-2,
.cell.r-d.f-4,
.cell.r-d.f-6,
.cell.r-d.f-8,
.cell.r-c.f-1,
.cell.r-c.f-3,
.cell.r-c.f-5,
.cell.r-c.f-7,
.cell.r-b.f-2,
.cell.r-b.f-4,
.cell.r-b.f-6,
.cell.r-b.f-8,
.cell.r-a.f-1,
.cell.r-a.f-3,
.cell.r-a.f-5,
.cell.r-a.f-7 {
    background-color: hsl(0, 0%, 80%);
}
